
@media (min-width: 48em) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333;
}

images {
  background:
  url('./icons/user.gif'),
  url('./icons/login.gif'),
  url('./icons/logout.gif'),
  url('./icons/signup.gif'),
  url('./icons/users.gif'),
  url('./icons/splash_screen.gif'),
  url('./icons/done.png'),
  url('./icons/new.png'),
  url('./icons/processing.png'),
  url('./icons/testing.png'),
  url('./icons/tags.png'),
  url('./icons/tasks.png'),
  url('./icons/new_task.png'),
  url('./icons/info.png'),
  url('./icons/hexlet.png'),
  url('./icons/koa.png'),
  url('./icons/node.png'),
  url('./icons/github.png'),
  url('./icons/heroku.png'),
  url('./icons/sequelize.png'),
  url('./icons/bootstrap.png'),
  url('./icons/pug.png'),
  url('./icons/gulp.png'),
  url('./icons/webpack.png'),
  url('./icons/nalanpa.jpg'),
  url('./icons/email.png'),
  url('./icons/skype.png'),
  url('./icons/github-round.png'),
  url('./icons/linkedin.png'),
  url('./icons/moikrug.png');
}

.logo {
  padding: 0.5rem;
  font-weight: 900;
  background-color: #ddd;
}

.about-panel-left {
  font-size: 18px;
  background-color: powderblue;
}

.about-panel-right {
  font-size: 18px;
}

.info-icon {
  height: 2rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.link-icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.3rem;
}

.form-half {
  background-color: #ddd;
}

.splash-screen {
  height: 30rem;
  margin-left: 2.7rem;
}
