extends /layouts/two_part_form_small.pug

block left
  
  include /account/_show.pug
  p.mt-2.mb-3
    a(href=urlFor('accountEdit')) Edit data
  p.mt-2.mb-3.text-muted
    |Change password
  p.mt-2.mb-3
    a.text-danger(data-confirm="Are you sure you want to delete your account?" href=urlFor('accountDelete') data-method='delete' rel='nofollow') Delete my account      
    
block right
  
  +formFor(f, { url: urlFor('accountUpdatePassword'), method: 'put' })
    h2.mb-4.mt-1 Change Password
    +input(f, 'password', { as: 'password', label: 'Current password' })
    +input(f, 'newPassword', { as: 'password', label: 'New password:' })
    +input(f, 'confirmation', { as: 'password', label: 'Please confirm:' })
    .button-container.my-4
      +button(f)
