extends /layouts/application.pug

block content
  .row.justify-content-center
    .col-lg-4.col-12.p-4
      .container.bg-faded.p-4
        include /account/data_panel.pug
        p.mt-2.mb-3
          a(href=urlFor('account')) Edit data
        p.mt-2.mb-3.text-muted
          a(href=urlFor('password')) Change password
        p.mt-2.mb-3.text-muted
          |Delete my account      
    .col-lg-4.col-12.p-4
      .container.bg-faded.p-4
        h3 Are you sure?
        a.text-danger.mt-4(href=urlFor('account') data-method='delete' rel='nofollow') Yes, delete my account
        
