extends /layouts/application.pug

block content
  .row
    .col-lg-3.col-12.p-3
      .container.bg-faded.p-3
        include /account/data_panel.pug
        p.mt-2.mb-3
          a(href=urlFor('password')) Change password
        p.mt-2.mb-3
          a.text-danger(href=urlFor('account') data-method='delete' rel='nofollow') Delete my account      
    .col-lg-9.col-12
      +formFor(f, { url: urlFor('account'), method: 'post', title: 'Edit data' })
        +input(f, 'firstName', { label : 'First Name:'})
        +input(f, 'lastName', { label : 'Last Name:'})
        +input(f, 'email', { label : 'Email:'})
        +button(f, 'Edit')
        
   
