extends /layouts/application.pug


block content

  h2.mt-5 Task Statuses

  table.table.table-striped.table-hover.table-sm.mt-4
    thead.thead-inverse
      tr
        th Task Status
        th Id
    tbody
      each taskStatus in taskStatuses
        tr
          td
            img.link-icon(src=`${taskStatus.name}.png`)
            | #{taskStatus.name}
          td= taskStatus.id
          
