extends /layouts/application.pug

block content
  +formFor(f, { url: urlFor('session'), method: 'post', title: 'Please sign in' })
    +input(f, 'email', { label : 'Email:'})
    +input(f, 'password', { as: 'password', label: 'Password' })
    +button(f, 'Sign in')
