extends /layouts/medium_form.pug

block form
  
  +formFor(f, { url: urlFor('tasksCreate'), method: 'post' })
    h2.my-4 New task
    +input(f, 'name', { label : 'Name:'})
    +textarea(f, 'description', { label : 'Description:'})
    +input(f, 'tags', { label : 'Tags:', value: tags })
    .button-container.my-5
      +button(f, 'Submit')
