extends /layouts/application.pug


block content
  
  .row.justify-content-center
    .col-lg-6.col-12.p-4
 
        h2.mt-5 Tags

        table.table.table-striped.table-hover.table-sm.mt-4
          thead.thead-inverse
            tr
              th Tag
              th 
          tbody
            each tag in tags
              tr
                td= tag.name
                td
                  a(href=`${urlFor('tagsTasks', { id: tag.id })}`) tasks
        
