extends /layouts/application.pug

block content
  if user
    h2.mt-5.ml-5=  'Hello, ' + user.fullName + '!'
    h4.ml-5 Welcome to Task Manager!
  else
    h3.mt-5.ml-5 Task Manager
    p.ml-5 v1.0
  img.splash-screen(src='splash_screen.gif')
    
    
