extends /layouts/application.pug

block content
  if user
    h2.mt-5.ml-5=  'Hello, ' + user.fullName + '!'
    h4.ml-5 Welcome to Task Manager!
  else
    h3.mt-5.ml-5 Hello in Task Manager!
    p.ml-5 v2.1
  img.splash-screen(src='/assets/splash_screen.gif')
    
    
