extends /layouts/application.pug

block content
  .row.justify-content-center
    .col-lg-4.col-12.p-5
      .form-container.pb-5
        +formFor(f, { url: urlFor('sessionCreate'), method: 'post' })
          h2.my-4 Please sign in
          +input(f, 'email', { label : 'Email:'})
          +input(f, 'password', { as: 'password', label: 'Password' })
          .button-container.my-4
            +button(f, 'Sign in')
