extends /layouts/application.pug

block content
  .row.justify-content-center
    .col-lg-12.col-12.p-3
      .row.justify-content-center
        .col-lg-5.col-12.form-half.py-4.pl-4.pr-1
          .container.bg-faded.p-4
            block left
              
        .col-lg-5.col-12.form-half.py-4.pr-4
          .container.bg-faded.p-4
            block right
