extends /layouts/application.pug

block content
  .row.justify-content-center
    .col-lg-4.col-12.p-4
      .container.bg-faded.p-4
        include /users/show.pug
        p.mt-2.mb-3
          a(href=urlFor('usersEditData')) Edit data
        p.mt-2.mb-3.text-muted
          |Change password
        p.mt-2.mb-3
          a.text-danger(data-confirm="Are you sure you want to delete your account?" href=urlFor('usersDelete') data-method='delete' rel='nofollow') Delete my account      
    .col-lg-4.col-12
      +formFor(f, { url: urlFor('usersUpdatePassword'), method: 'put', title: 'Change password' })
        +input(f, 'password', { as: 'password', label: 'Current password' })
        +input(f, 'newPassword', { as: 'password', label: 'New password:' })
        +input(f, 'confirmation', { as: 'password', label: 'Please confirm:' })
        +button(f)
