extends /layouts/application.pug

block content
  
  h2.mt-5 Users
  
  table.table.table-striped.table-hover.table-sm.mt-4
    thead.thead-inverse
      tr
        th Full Name
        th Email
        th Created At
    tbody
      each user in users
        tr
          td= user.fullName
          td= user.email
          td= formatDate(user.createdAt)
