extends /layouts/small_form.pug

block form
  +formFor(f, { url: urlFor('usersCreate'), method: 'post' })
    h2.my-4 New User
    +input(f, 'email', { label : 'Email:'})
    +input(f, 'firstName', { label : 'First Name:'})
    +input(f, 'lastName', { label : 'Last Name:'})
    +input(f, 'password', { as: 'password', label: 'Password:' })
    .button-container.my-4
      +button(f, 'Submit')
    
