h3.mb-3 My account data
.user_data.py-3
  p.mt-2.mb-3
    strong Full Name: 
    em= user.fullName
  p.mt-2.mb-3
    strong Email:  
    em= user.email
  p.mt-2.mb-3 
    strong Created: 
    em= user.createdAt.toDateString()
